
span.input-group-addon {
    width: auto;
}

form {
    width: 530px;
}

form.addBucket {
    width: 500px;
    margin: auto;
}

div.input-group {
    margin: 0 auto;
    width: 100%;
}

button.btn.btn-primary {

}