p
{
    color: cornflowerblue;
}

label{
    position: fixed;
    text-align: center;
}
#new-bucket-container {
    display: inline-flex !important;
    height: 100% !important;
    width: inherit !important;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#new-bucket-grid-container::-webkit-scrollbar {
    display: none;
}
#new-bucket-grid-container {
    display: grid;
    height: 680px;
    width: auto;
    border-radius: 30px;

    grid-template-areas: "main main main";
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 220px 220px 220px;
    grid-gap: 10px 10px;

    justify-items: start;
    align-content: flex-start;
    overflow-y: scroll;
    overflow-scrolling: auto;
    background-color: lightslategrey;
}

.bucket-grid-controls {
    display: block;
    height: 50px;
}

button:hover {
    background-color: darkgrey;
    border-color: darkblue !important;
    cursor: pointer;
}

button.grid-control {
    width: 100px;
    color: cornflowerblue;
    margin: 10px;
    border: none;
    border-radius: 8px;
}

button.new-bucket-grid-item {
    grid-area: main;

    grid-column: auto/auto;
    grid-row: auto;

    box-shadow: 0 0 25px 0 whitesmoke;
    background-color: lightgray;
    border-radius: 20px !important;
    text-align: center;
    font-size: larger !important;
    width: 200px !important;
    height: 200px !important;
    margin: 10px;
}

#new-bucket-grid-box-area {
    display: block;
    float: left;
    margin: 5px;
}
