
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    opacity: 1;
    animation: ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

.bucketful-modal {
    padding: 16px;
    background-color: #fff;
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.2);
}

span.close {
    position: relative;
    display: block;
    text-align: center;
    font-size: 40px;
    color: #aaaaaa;
    font-weight: normal;
}