input[type=file] {
    display: none;
}

.image-holder {
    display: inline-block;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    border: solid 4px white;
}

.image-holder:hover {
    opacity: 0.9;
    cursor: pointer;
}
