#section-bucket {
    display: block;
    margin: 3px 3px 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: auto;
    width: auto;
}

#section-bucket-scroll::-webkit-scrollbar {
    display: none;
}

img {
    border-radius: 5px;
}

[class*='bucket-'] {
    display: block;
    margin: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.bucket-container-current {
    padding-top: 5px;
    background-color: gainsboro;
    height: 175px;
    width: 392px;
}

.bucket-container-finished {
    background-color: gainsboro;
    padding-top: 5px;
    height: 175px;
    width: 336px;
}

.bucket-image {
    height: 140px;
    background-color: whitesmoke;
    width: auto;
}

.bucket-label {
    display: inline-block;
    float: bottom;
    margin: 2px;
}