#section-bucket {
    display: block;
    margin: 3px 3px 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: auto;
}

img {
    border-radius: 5px;
}

[class*='profile-bucket-'] {
    display: block;
    margin: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.profile-bucket-container-current {
    text-align: left;
    padding-top: 5px;
    background-color: gainsboro;
    border-radius: 5px;
    height: 100%;
    width: 390px;
}

.profile-bucket-container-finished {
    background-color: gainsboro;
    padding-top: 5px;
    border-right: 5px;
    height: 175px;
    width: 334px;
}

.profile-bucket-image {
    height: 140px;
    background-color: whitesmoke;
    width: auto;
}

.profile-bucket-label {
    margin-left: 8px;
    display: inline-block;
    float: bottom;
}