
span.input-group-addon {
    width: auto;
}

form.register {
    width: 350px;
    margin: auto;
}

h1.signUpHeader {
    text-align: center;
}

div.input-group {
    margin: 0 auto;
}

button.btn.btn-primary {
    float: right;
}

label.radio-inline {
    font-size: small;
}