@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

input[type=text], [type=password], [type=date]{
    font: inherit;
    width: 246px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
    margin-bottom: 6px;
}

input[type=date] {
    width: 170px;
    height: 35px;
}

input:focus {
    outline: none;
    border: 1px solid RGBA(169, 169, 169, 0.8);
}